/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inicio de estilos generales */

body{
    /* se utiliza por ejemplo para colores generales, tipografias, tamaños generales... */
    font-family: 'Roboto', sans-serif;
}

/* fin de estilos generales */

/* inicio de estilos de mi header */

header{
    background-color: #F8BF55;
    border-bottom: 5px solid #ffa807;
}

.img-logo{
    text-align: left;
}

/* fin de estilos de mi header */

/* inicio de estilos del main */

/* inicio de la pag home */

.fondo-del-index{
    background-image: url(../img/img-de-los-fondos/img-del-fondo-principal.jpg);
}

/* inicio parrafo 1 */
.fondo-del-parrafo-uno-home{
    background-color:#78c9e9;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 0rem 2rem 0rem 2rem;
}

.h2delhome-1{
    margin: 1.5rem 2rem 0rem 2rem;
    padding: 1.5rem 0rem 0rem 0rem;
    text-align: center; 
}

.estilosdelparrafo1{
    padding: 1.5rem;
    margin: 0rem 2rem;
    /* estilos de grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.imghomeparrafo1{
    text-align: center;
}

.parrafo-numero-1-del-index{
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* fin parrafo 1 */

/* inicio parrafo 2 */
.fondo-del-parrafor-dos-home{
    background-color: #a3e488;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin: 0rem 2rem 1rem 2rem;
}

.h2delhome-2{
    margin: 1.5rem 2rem 0rem 2rem;
    padding: 1.5rem 0rem 0rem 0rem;
    text-align: center;
}

.contenedor-producto{
    background-color: #a3e488;
    margin: 2rem;
    /* aplicando grid */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.producto-uno-home{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    
}
/* fin parrafo 2 */

@media screen and (max-width:600px){
    .contenedor-home{
        margin: 20px;
        padding: 20px;
    }
}
    

/* fin de la pag home */

/* inicio de la pag sobre chances */
.fondo-de-la-pag-sobrechances{
    background-image: url(../img/img-de-los-fondos/fondo-web-verde.png);
    background-repeat: no-repeat;
}

.fondo-del-parrafo-uno-sobrechances{
    background-color: #771c7e;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 0rem 2rem 2rem 2rem;
}

.h2-de-sobrechances{
    margin: 1.5rem 2rem 0rem 2rem;
    padding: 1.5rem 0rem 0rem 0rem;
    text-align: center; 
}

.estilos-del-parrafo-sobrechances{
    padding: 1.5rem;
    margin: 0rem 2rem;
    /* estilos de grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-sobrechances{
    text-align: center;
}

.parrafo-de-sobrechances{
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fin de la pag sobre chances */

/* inicio de la pag sobre cursos */
    .fondo-de-la-pag-cursos{
        background-image: url(../img/img-de-los-fondos/fondo-web-amarillo.png);
    }

    .img1-de-la-pag-cursos{
        text-align: right;
        padding: 1rem 2.5rem 1rem 1.5rem;
    }

    .img2-de-la-pag-cursos{
        text-align: right;
        padding: 1rem 2.5rem 1rem 1.5rem;
    }

    .img3-de-la-pag-cursos{
        text-align: right;
        padding: 1rem 2.5rem 1rem 1.5rem;
    }

/* fin de la pag sobre cursos */

/* inicio de la pag sobre contacto */
.fondo-de-la-pag-contacto{
    background-image: url(../img/img-de-los-fondos/fondo-web-celeste.png);
}

.formulario{
    background-color: #ace1f5;
    margin: 20px;
    padding: 10px;
}

.form{
    padding: 5px;
}



/* fin de la pag sobre contacto */

/* inicio de la pag allmethod */

.fondo-de-la-pag-allmethod{
    background-image: url(../img/img-de-los-fondos/fondo-web-violeta.png);
}

.h2-de-allmethod{
    text-align: center;
    padding: 30px;
}

.img2-de-la-pag-allmethod{
    text-align: center;
}

main h a{
    text-decoration: none;
    color: black;
}

/* fin de la pag allmethod */

/* fin de estilos del main */

/* inicio de estilos del footer */
footer{
    background-color: rgb(255, 236, 116);
    border-top: 5px solid rgb(250, 217, 0);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    

}

.derechos{
    padding: 1.5rem 0rem 1.5rem 0rem;
}

.redes{
    list-style: none; 
}

/* find de estilos del footer */